In [1]:
print("hello, world!")

hello, world!

In [2]:
X = "hello 2.0"
print(X)

hello 2.0

In [3]:
X = "3*4"
Y = 3*4
print(X)
print(Y)

3*4
12

In [4]:
import math
abc = 10
print(1+2*3-4/5)
print(math.sqrt(2))
print(math.log(10))
print(abc)

6.2
1.4142135623730951
2.302585092994046
10

In [6]:
from pandas import read_csv
records = read_csv('testScores.csv')
print(records)
print()

scores = records["score"]
print(scores)
print()


firstThreeRows = records[0:2]
print(firstThreeRows)
print()


franklin = records.loc[records.username == "franklin"]
print(franklin)
print()

studentName = franklin.iat[0,1]
studentScore = franklin.iat[0,2]
print(studentScore)
print()

if studentScore > 90:
    print(studentName + " scored " + str(studentScore) + " so they got an A!")
elif studentScore > 80:
    print(studentName + " scored " + str(studentScore) + " so they got a B!")
elif studentScore > 70:
    print(studentName + " scored " + str(studentScore) + " so they got a C!")
elif studentScore > 60:
    print(studentName + " scored " + str(studentScore) + " so they got a D!")
else:
    print(studentName + " scored " + str(studentScore) + " so they got an F!")

   idNum  username  score
0      1     alice     99
1      2       bob     84
2      3       cam     93
3      4    danesh     98
4      5     ellen     75
5      6  franklin     89
6      7      gina     82
7      8     holly     94

0    99
1    84
2    93
3    98
4    75
5    89
6    82
7    94
Name: score, dtype: int64

   idNum username  score
0      1    alice     99
1      2      bob     84

   idNum  username  score
5      6  franklin     89

89

franklin scored 89 so they got a B!

In [30]:
from pandas import read_csv
records = read_csv('testScores.csv')
print(records.head())
print()

scores = records["score"]
print(scores)
print()


firstThreeRows = records[0:2]
print(firstThreeRows)
print()


studentName = records.loc[records.username == "franklin"]["username"].values[0]
studentScore = records.loc[records.username == "franklin"]["score"].values[0]
print(studentName)
print(studentScore)
print()

if studentScore > 90:
    print(studentName + " scored " + str(studentScore) + " so they got an A!")
elif studentScore > 80:
    print(studentName + " scored " + str(studentScore) + " so they got a B!")
elif studentScore > 70:
    print(studentName + " scored " + str(studentScore) + " so they got a C!")
elif studentScore > 60:
    print(studentName + " scored " + str(studentScore) + " so they got a D!")
else:
    print(studentName + " scored " + str(studentScore) + " so they got an F!")

   idNum  username  score
0      1     alice     99
1      2       bob     84
2      3       cam     93
3      4    danesh     98
4      5     ellen     75
5      6  franklin     89
6      7      gina     82
7      8     holly     94

0    99
1    84
2    93
3    98
4    75
5    89
6    82
7    94
Name: score, dtype: int64

   idNum username  score
0      1    alice     99
1      2      bob     84

franklin
89

franklin scored 89 so they got a B!